<nb-layout>
  <!-- Header Navbar -->
  <nb-layout-header  fixed>
      <h1>Technology news</h1>

      <input class="mainLoginInput" type="text" placeholder="&#61442; Search" style="font-family: FontAwesome, Arial; font-style: normal" style="width: 40%; height: 2.5rem; border-radius: 7px; margin-left: 3%; border-color: gray;">
      <span style="flex: 2 auto; "></span>
      <nb-icon icon="bell-outline" size="large" style="float: right; margin-right: 3%;"></nb-icon>
      <nb-user size="medium"
                name="An Huynh Van"
                picture="https://via.placeholder.com/50/4479e7/ffffff?Text=IMG" style="float: right;">
        </nb-user>

        <!-- <nb-icon icon="bell" pack="font-awesome"></nb-icon> -->
      <!-- <button nbButton status="primary" style="float: right;">Log In</button> -->
  </nb-layout-header>
  <!-- Sidebar -->
  <nb-sidebar>
    <nb-menu [items]="items"></nb-menu>
  </nb-sidebar>
  <!-- Content -->
  <nb-layout-column class="colored-column-basic">
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
